input{

margin-left: 10px;
margin-bottom: 10px;

border-radius: 5px;

}


textarea{


    border-radius: 10px;
}

*{
    color: whitesmoke;

    background-color: rgba(2, 22, 16, 0.774);
}

.btn{
    color: red;
}

.btn:hover{
    
    color: chocolate;

}


.formf{

border: 1px solid rgba(11, 111, 141, 0.404);

padding-left: 50px;

margin-left: 230px;
margin-right: 450px;

padding-right: 50px;

border-radius: 20px;
}





.vikas{


    background-color: aqua;
    
    float: left;
    text-decoration: none;
    list-style: none;

    font-size: 50px;
padding: 30px

}
