.vikas ul li{

    float: left;
    font-size: 50px;
list-style: none;
text-decoration: none;

padding: 20px;
margin-top: 180px;


color: black;

}

.vikas .git{

color: black;

}







nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-left: 10px;
    text-decoration: none;

}
nav{
    background-color: rgb(17, 15, 9);
    border-radius: 10px;

}

a:hover{
    color: rgb(223, 0, 0);
}
nav ul{
    overflow: auto;
}

nav li a{
color: rgb(88, 219, 0);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}


.search{
    float: right;
    padding-right: 15px;
}



.search input{

    border-radius: 10px;
}