 body{
    background-color: rgba(22, 136, 126, 0.308);

}




   
nav li{
        float: left;
        list-style: none;
        margin: 13px 20px;
        padding-left: 10px;
        text-decoration: none;
    
    }
    nav{
        background-color: rgb(17, 15, 9);
        border-radius: 10px;
    
    }

    a:hover{
        color: rgb(223, 0, 0);
    }

    nav ul{
        overflow: auto;
    }

    nav li a{
    color: rgb(88, 219, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    }


    .search{
        float: right;
        padding-right: 15px;
    }


    
    .search input{

        border-radius: 10px;
    }
    

    .first{
margin-top: 100px;
background-color: chartreuse;
border-radius: 40px;
margin-right: 85%;
padding-left: 25px;
font-family: Arial, Helvetica, sans-serif;

    }




    .mainpage{
margin-left: 20px;
background-color: rgb(116, 129, 141);
    }


    .webimg{

    float: right;
    padding-bottom: 0px;
    margin-bottom: 0px;


    .about{


        text-align: center;
        margin-left: 500px;
        background-color: rgb(245, 216, 181);

        margin-right: 600px;
        border-radius: 5px;
        margin-bottom: auto;

    }


/* .who{


        text-align: center;
        margin-left: 500px;
        background-color: rgb(119, 240, 165);

        margin-right: 600px;
        border-radius: 5px;

        overflow-y: hidden;
    }
    */



/*

.log ul li {

    float: left;
    text-decoration: none;
    list-style: none;

    font-size: 50px;
padding: 30px


}


.git a{

    color: rgb(1, 1, 2);
    
}


.git a:hover{
    background-color: white;

}

.you a{
    color: red;

}
.google a{
    color: black;

}
.face a{

    color: blue;



}


.media{


    color: aqua;
}


#addr{


    text-align: center;
    margin: 0px;
    justify-content: center;
    overflow-wrap: inherit;
}



#addr h2{

    background-color: rgb(221, 82, 82);
    color: white;
    ;

}
*/



.vikas{


    background-color: aqua;
    
    float: left;
    text-decoration: none;
    list-style: none;

    font-size: 50px;
padding: 30px

}