nav {

width: 100%;
align-items: center;

}



ul li {


float: left;
padding: 25px;
list-style: none;
text-align: center;
}

ul li a{


    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 0px;
    font-family: fantasy;


}

ul li a {

animation-name: navbar;
animation-duration: 6s;
animation-delay: 2s;
animation-iteration-count: infinite;

}

@keyframes navbar{

0%{-webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px; color: rgb(255, 255, 255);}
50%{ -webkit-text-stroke-color: rgb(0, 207, 17); -webkit-text-stroke-width: 1px; color:rgb(0, 0, 0) ;}
100%{-webkit-text-stroke-color: rgb(255, 0, 0); -webkit-text-stroke-width: 1px; color: rgb(31, 187, 192);}
}



#logo {

padding-left: 320px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 45px;
font-family: cursive;
padding-bottom: 10px;
animation-name: logo;
animation-duration: 3s;
animation-delay: 1s;
animation-iteration-count: infinite;



}

@keyframes logo {

0%{ -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;}
100%{-webkit-text-stroke-color: rgb(255, 0, 0); -webkit-text-stroke-width: 1px;}


}


/*navigation bar */

.navigation {
margin-top: 0pc;

}


/* html scroll page */
html {

scroll-behavior: smooth;

}



/*HOMEPAGE DESIGN */


.home {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 350px;
padding-left: 120px;
background-color: rgb(0, 0, 0);
background-size:  cover;



}

.homepage {


    text-align: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0);
    
    }




/*textsroke text feDiffuseLighting */

#role{

    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 0.5px;


}


#name {

    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.50px;
    -webkit-text-fill-color: black;
    animation-name: myname;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}

@keyframes myname {

0%{ -webkit-text-stroke-color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 0.5px;}
100%{font-size: 33px;
    font-family: fantasy;
}

}



#intro {


    -webkit-text-stroke-color: rgb(255, 123, 0);
    -webkit-text-stroke-width: 0.5px;
}

/* button design part */



.btnrh{

    padding-top: 50px;

}

    
    .btnrh a {
        font-size: 25px;
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        border-radius: 6px;
        padding: 5px 5px;
        
    }

/* gallary */



/*flex box services */

.services {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 40px;
padding-left: 120px;

}



.card {

text-align: center;
align-items: center;
border: 1px solid rgb(245, 235, 255);
border-radius: 12px;
padding-left: 10px;
padding-right: 10px;
background-color: rgb(255, 230, 230);

}

.card:hover {

    background-color: rgb(255, 255, 255);
}



/*about us*/

.about {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 40px;
padding-left: 120px;

}

.myinfo {

    text-align: center;
    align-items: center;
    border: 1px solid rgb(245, 235, 255);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(233, 230, 230, 0.534);
    }




/*contact section */


.contact1 {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 40px;
padding-left: 120px;


}



.contact {

    text-align: center;
    align-items: center;
    border: 1px solid rgb(239, 255, 224);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.541)

}



.contactbtn {


    text-align: center;
    border-radius: 10px;
    border-color: whitesmoke;
    outline: none;
    color: red;
    background-color: rgba(240, 248, 255, 0.651);


}

.contactbtn a {

    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.contactbtn a:hover{

    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(170, 255, 0);
}

/* refer and earn */

.referal {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 40px;
padding-left: 120px;
}

.refer {

    text-align: center;
    align-items: center;
    border: 1px solid rgb(245, 235, 255);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 136, 0, 0.137);
    padding-bottom: 0%;


}

.refer a {

    text-decoration: none;
    color: rgb(0, 0, 0);
}


/* footer coding start */


.footer {

    display: flex;
    flex-direction: row;
    align-items: initial;
column-gap: 40px;
padding-left: 120px;
background-color: black;
border-radius: 10px;
}

.icons {
color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0%;

}

.icons .icu a{ 

    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 10px;


}

